[submodule "libs/NewtonsoftJson"]
	path = libs/NewtonsoftJson
	url = https://github.com/JamesNK/Newtonsoft.Json.git
[submodule "libs/Elasticsearch.net"]
	path = libs/Elasticsearch.net
	url = https://github.com/elastic/elasticsearch-net.git
[submodule "libs/NEST"]
	path = libs/NEST
	url = https://github.com/NickCraver/NEST.git
[submodule "libs/OpenNlp"]
	path = libs/OpenNlp
	url = https://github.com/AlexPoint/OpenNlp.git
